.main-conteiner{
    background-position: center;
    /* height: 400px; */
    background-image: url(/public/img/car-item/128513-Mustang-Car-MVP500-Ford-Mustang-sports-car-road-Ford-Mustang-Shelby-GT500-eleanor.jpg)
    
    
}
.conteiner-wraper{
    padding: 6rem;
    display: flex;
    align-items:  center;
    justify-content: center;
    
}
.conteiner-wraper h1{
    color: aliceblue;
}
.item-text{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}
.item-text button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color:orange;   
    padding: 1rem 2rem;
    font-family: sans-serif;
    font-family: 1rem;
}