@font-face {
  font-family: yekan;
  src: url(/src/components/footer/NavBar/font/Yekan.ttf);
}
.title {
  font-family: yekan;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.title::before,
.title::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid orange;
  margin: 0 10px;
}
.conteiner {
  margin: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
hr {
  border: 0.1px solid orange;
  margin: 0 10px;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
